*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
PreProcessamento - Bruno Marques - Danielly Queiroz.zip
Projeto Reconhecimento de placas.pdf
entrada
entrada2
lib
preprocessamento
segmentacao
